VITE_SUPABASE_URL=https://awacwgxbklizjjojpqfj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3YWN3Z3hia2xpempqb2pwcWZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyODE0MjMsImV4cCI6MjA5Nzg1NzQyM30.CkMsr25K8k7HaTbGCpgqcXegHGKu2HWxKpJayslMS5w

VITE_USE_LOCAL_DEMO_IF_NOT_CONFIGURED=true

VITE_DEMO_ADMIN_EMAIL=admin@teczo.demo
VITE_DEMO_ADMIN_PASSWORD=Teczo@123